baseURL = 'https://gnosis.github.io/memo/'
languageCode = 'en-US'
title = 'Memo Box'

[params]
  author = "Gnosis"
  description = "A personal memo box powered by Shibui theme"

[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.tableOfContents]
    endLevel = 2
    ordered = false
    startLevel = 2

[menus]
  [[menus.main]]
    name = 'Home'
    pageRef = '/'
    weight = 10

  [[menus.main]]
    name = 'Posts'
    pageRef = '/posts'
    weight = 20


[module]
  [module.hugoVersion]
    extended = false
    min = '0.93.0'

